<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="scriptImports" type="xstring" value="// Your custom imports:%%00010import java.util.regex.Pattern;%%00010"/>
<entry key="scriptFields" type="xstring" value="// Your custom variables:%%00010Long parseLong(String v)%%00010{%%00010%%00009if (v == null || v.trim().equals(&quot;&quot;) || v.equals(&quot;null&quot;))%%00010%%00009%%00009return null;%%00010%%00010%%00009return Long.parseLong(v.trim());%%00009%%00010}%%00010%%00010Integer parseInt(String v)%%00010{%%00010%%00009if (v == null || v.trim().equals(&quot;&quot;) || v.equals(&quot;null&quot;))%%00010%%00009%%00009return null;%%00010%%00010%%00009return Integer.parseInt(v.trim());%%00009%%00010}%%00010%%00010%%00010Double parseDouble(String v)%%00010{%%00010%%00009if (v == null || v.trim().equals(&quot;&quot;) || v.equals(&quot;null&quot;))%%00010%%00009%%00009return null;%%00010%%00010%%00009return Double.parseDouble(v.trim());%%00009%%00010}%%00010"/>
<entry key="scriptBody" type="xstring" value="// Enter your code here:%%00010%%00010//leadId ||| id ||| created ||| timestamp ||| nearest ||| distance ||| entropy ||| #users ||| size ||| age ||| score ||| topic ||| text |||%%00010%%00010out_column = c_column;%%00010%%00010String[] tokens = c_column.split(Pattern.quote(&quot; ||| &quot;));%%00010%%00010out_leadId = parseLong(tokens[0]);%%00010out_tweet_id = parseLong(tokens[1]);%%00010out_timestamp = parseLong(tokens[3]);%%00010out_nearest = parseLong(tokens[4]);%%00010out_distance = parseDouble(tokens[5]);%%00010out_entropy = parseDouble(tokens[6]);%%00010out_users = parseInt(tokens[7]);%%00010out_size = parseInt(tokens[8]);%%00010out_age = parseInt(tokens[9]); %%00010out_score = parseDouble(tokens[10]);%%00010%%00010if(out_leadId == null)%%00010%%00009out_column = c_column ;%%00010else%%00010%%00009out_column = &quot;&quot;;%%00010%%00010%%00010%%00010%%00010%%00010%%00010%%00010%%00010"/>
<config key="jarFiles">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="outCols">
<entry key="array-size" type="xint" value="11"/>
<config key="0">
<entry key="Name" type="xstring" value="lead_id"/>
<entry key="JavaName" type="xstring" value="out_leadId"/>
<entry key="JavaType" type="xstring" value="java.lang.Long"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.LongCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.LongCell$LongCellFactory.create(class java.lang.Long)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="1">
<entry key="Name" type="xstring" value="tweet_id"/>
<entry key="JavaName" type="xstring" value="out_tweet_id"/>
<entry key="JavaType" type="xstring" value="java.lang.Long"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.LongCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.LongCell$LongCellFactory.create(class java.lang.Long)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="2">
<entry key="Name" type="xstring" value="timestamp"/>
<entry key="JavaName" type="xstring" value="out_timestamp"/>
<entry key="JavaType" type="xstring" value="java.lang.Long"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.LongCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.LongCell$LongCellFactory.create(class java.lang.Long)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="3">
<entry key="Name" type="xstring" value="entropy"/>
<entry key="JavaName" type="xstring" value="out_entropy"/>
<entry key="JavaType" type="xstring" value="java.lang.Double"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.DoubleCell$DoubleCellFactory.create(class java.lang.Double)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="4">
<entry key="Name" type="xstring" value="users"/>
<entry key="JavaName" type="xstring" value="out_users"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="5">
<entry key="Name" type="xstring" value="size"/>
<entry key="JavaName" type="xstring" value="out_size"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="6">
<entry key="Name" type="xstring" value="column"/>
<entry key="JavaName" type="xstring" value="out_column"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.StringCell$StringCellFactory.createCell(class java.lang.String)"/>
<entry key="replaceExisting" type="xboolean" value="true"/>
</config>
<config key="7">
<entry key="Name" type="xstring" value="nearest"/>
<entry key="JavaName" type="xstring" value="out_nearest"/>
<entry key="JavaType" type="xstring" value="java.lang.Long"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.LongCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.LongCell$LongCellFactory.create(class java.lang.Long)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="8">
<entry key="Name" type="xstring" value="distance"/>
<entry key="JavaName" type="xstring" value="out_distance"/>
<entry key="JavaType" type="xstring" value="java.lang.Double"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.DoubleCell$DoubleCellFactory.create(class java.lang.Double)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="9">
<entry key="Name" type="xstring" value="age"/>
<entry key="JavaName" type="xstring" value="out_age"/>
<entry key="JavaType" type="xstring" value="java.lang.Integer"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.IntCell$IntCellFactory.create(class java.lang.Integer)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
<config key="10">
<entry key="Name" type="xstring" value="score"/>
<entry key="JavaName" type="xstring" value="out_score"/>
<entry key="JavaType" type="xstring" value="java.lang.Double"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.def.DoubleCell$DoubleCellFactory.create(class java.lang.Double)"/>
<entry key="replaceExisting" type="xboolean" value="false"/>
</config>
</config>
<config key="outVars">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="inCols">
<entry key="array-size" type="xint" value="1"/>
<config key="0">
<entry key="Name" type="xstring" value="column"/>
<entry key="JavaName" type="xstring" value="c_column"/>
<entry key="JavaType" type="xstring" value="java.lang.String"/>
<config key="Type">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<entry key="ConverterFactory" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(StringValue,class java.lang.String,String)"/>
</config>
</config>
<config key="inVars">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="version" type="xstring" value="version 1.x"/>
<entry key="templateUUID" type="xstring" isnull="true" value=""/>
<entry key="runOnExecute" type="xboolean" value="false"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<config key="job.manager">
<entry key="job.manager.factory.id" type="xstring" value="org.knime.testing.streaming.testexecutor.StreamingTestNodeExecutionJobManagerFactory"/>
<config key="job.manager.settings">
<entry key="numChunks" type="xint" value="5"/>
</config>
</config>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.jsnippet.JavaSnippetNodeFactory"/>
<entry key="node-name" type="xstring" value="Java Snippet"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.4.0.v201706141136"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.4.0.v201707101013"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Java Snippet"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
